:root{
    --pGray: rgba(255, 255, 255, 0.619);
    --mainBorderColor: rgba(217, 217, 217, 0.446);
}

*{
    /* outline: 1px solid limegreen; */
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: rgba(20,20,22,255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: none;
}

.headerContent .title h1{   
    font-size: 55px;
}

.headerContent{
    display: flex;
}

.headerContent .headerMainImg{
    width: 600px;
    position: relative;
    left: -20px;
    border-radius: 10px;
}

.headerMainImg img{
    width: inherit !important;
    border-radius: 10px;

}

main{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 60px;
}

main hr{
    width: 600px;
    background-color: var(--mainBorderColor) !important;
    color: var(--mainBorderColor) !important;
}

main .about h2{
    font-size: 35px;
    margin: 30px 0;
}

main .about p{
    line-height: 24px;
}

.price{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price h2,
.share h2{
    font-size: 30px;
}

.share .socialMedia{
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.socialMedia i{
    font-size: 25px;
}

@media (max-width: 400px) {

    /* header{
    } */

    .headerContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 !important;
        position: relative;
    }

    .headerContent .headerMainImg{
        order: 0;
        width: 300px;
        height: 235px;
        position: absolute;
        left: 0px;
        top: 20px;
    }

    .headerContent .title{
        order: 1;
        width: 300px !important;
        position: relative;
        top: 270px;
    }

    .title h1{
        font-size: 35px !important;
        width: 300px !important;
    }

    main{
        max-width: 375px !important;
        box-sizing: border-box;
        padding: 10px;
    }

    main hr{
        width: 375px;
    }

    main .about p{
        max-width: 320px;
    }
}